base
pgo
*.gcda
.idea/

perf.data
perf.data.old

# hot-cold-function-relocation code-gen
hot-cold-function-relocation/coldcalls.cpp
hot-cold-function-relocation/definitions.cpp
hot-cold-function-relocation/warmcalls.cpp

# hot-cold-function-splitting code-gen
hot-cold-function-splitting/calls.cpp
hot-cold-function-splitting/definitions.cpp
