base
pgo
*.gcda
.idea/

perf.data
perf.data.old

# hot-cold code-gen
hot-cold-function-relocation/coldcalls.cpp
hot-cold-function-relocation/definitions.cpp
hot-cold-function-relocation/warmcalls.cpp

